---
import GalleryLayout from '../../layouts/GalleryLayout.astro'
import { getCollection } from 'astro:content'
import { GalleryHelper } from '../../utils/gallery'

const collections = await getCollection('gallery')

let galleries = await Promise.all(
	collections.map(async (entry) => {
		const gallery = new GalleryHelper(entry)
		return {
			href: `/gallery/${gallery.slugUrl}`,
			title: gallery.title,
			coverUrl: await getFirstImage(gallery)?.getUrl(),
			imageCount: gallery.gallerySections.reduce(
				(acc, cur) => acc + cur.images.length,
				0,
			),
		}
	}),
)

galleries = galleries.filter((g) => g.coverUrl)

function getFirstImage(gallery: GalleryHelper) {
	return gallery.gallerySections.at(-1)?.images.at(-1)
}
---

<GalleryLayout>
	<div class:list={['flex flex-wrap']}>
		{
			galleries.map(async (g) => (
				<a
					href={g.href}
					class:list={[
						'w-1/2 p-2 flex flex-col group',
						'sm:w-1/3',
						'md:w-1/4',
						'2xl:w-1/5 2xl:p-4',
					]}
				>
					<img
						src={g.coverUrl}
						class:list={[
							'transition-all w-full object-cover object-center mb-1 rounded-xl aspect-square group-hover:scale-105 group-hover:shadow-lg',
						]}
					/>
					<p class="text-sm">{g.title}</p>
					<p class="text-sm opacity-50">{g.imageCount}</p>
				</a>
			))
		}
	</div>
</GalleryLayout>
