---
import BaseHtml, { type Props as BaseHtmlProps } from './BaseHtml.astro'
import AdaptiveIconButton from '../components/ui/button/AdaptiveIconButton.astro'
import config from '../consts'

interface Props extends BaseHtmlProps {
	showAuthorInfo?: boolean
}

const { showAuthorInfo } = Astro.props

const isTimeline = Astro.url.pathname === '/'
const isBrowse = Astro.url.pathname === '/browse'
const isAboutMe = Astro.url.pathname === config.customPages?.aboutMe

const timelineIcon = isTimeline
	? 'icon-[material-symbols--nest-clock-farsight-analog]'
	: 'icon-[material-symbols--nest-clock-farsight-analog-outline]'

const browseIcon = isBrowse
	? 'icon-[material-symbols--folder-open]'
	: 'icon-[material-symbols--folder-open-outline]'

const meIcon = isAboutMe
	? 'icon-[material-symbols--sentiment-excited]'
	: 'icon-[material-symbols--sentiment-excited-outline]'
---

<BaseHtml {...Astro.props}>
	<div class="flex flex-col sm:flex-row">
		<div
			class:list={[
				'w-full fixed bottom-0 z-50 bg-primary neumorphism-bulge',
				'sm:bg-transparent sm:shadow-none sm:top-0 sm:left-0 sm:h-full sm:w-48',
				showAuthorInfo ? 'lg:flex lg:w-144' : 'lg:w-64',
			]}
		>
			<!-- nav -->
			<div
				class:list={[
					'flex justify-around',
					'sm:w-48 sm:flex-col sm:justify-start sm:gap-6 sm:p-4',
					'lg:gap-8 lg:p-8',
					showAuthorInfo ? 'lg:w-64' : 'lg:w-64',
				]}
			>
				<AdaptiveIconButton
					active={isTimeline}
					href={isTimeline ? undefined : '/'}
				>
					<span slot="icon" class:list={[timelineIcon, 'size-8']}></span>
					Timeline
				</AdaptiveIconButton>
				<AdaptiveIconButton
					active={isBrowse}
					href={isBrowse ? undefined : '/browse'}
				>
					<span slot="icon" class:list={[browseIcon, 'size-8']}></span>
					Browse
				</AdaptiveIconButton>
				{
					config.customPages?.aboutMe && (
						<AdaptiveIconButton
							active={isAboutMe}
							href={isAboutMe ? undefined : config.customPages.aboutMe}
						>
							<span slot="icon" class:list={[meIcon, 'size-8']} />
							About Me
						</AdaptiveIconButton>
					)
				}
			</div>

			<!-- author info -->
			{
				showAuthorInfo && (
					<div
						class="flex-1 flex-col hidden lg:flex p-8 gap-6 items-center break-all neumorphism-bulge"
						transition:name="author"
						transition:animate="slide"
					>
						<img
							src={config.author.avatar.url}
							alt={config.author.avatar.alt ?? 'avatar'}
							class="rounded-full size-48 select-none"
						/>
						<p class="text-3xl font-bold">{config.author.name}</p>
						{config.author.signature && <p>{config.author.signature}</p>}
					</div>
				)
			}
		</div>
		<main
			class:list={[
				'pb-16 w-full p-4',
				'sm:pb-6 sm:ml-48 sm:pl-4 sm:mr-2',
				showAuthorInfo ? 'lg:ml-144 lg:p-6' : 'lg:ml-64',
			]}
			transition:name="main"
			transition:animate="slide"
		>
			<slot />
		</main>
	</div>
</BaseHtml>
