---
import type { HTMLAttributes } from 'astro/types'
import '../assets/css/global.css'

import { ClientRouter } from 'astro:transitions'

export interface Props extends HTMLAttributes<'body'> {
	title?: string
	og?: {
		title?: string
	}
	description?: string
}

const { title, description, ...others } = Astro.props
const ogTitle = Astro.props.og?.title || title
---

<html lang="zh-CN" class="no-scrollbar">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{title && <title data-pagefind-meta="title">{title}</title>}

		<!-- Open Graph / Facebook -->
		{ogTitle && <meta property="og:title" content={ogTitle} />}
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		{
			description && (
				<Fragment>
					<meta name="description" content={description} />
					<meta property="og:description" content={description} />
				</Fragment>
			)
		}
		<ClientRouter />
	</head>

	<body {...others}>
		<slot />
	</body>
</html>
