---
import moment from 'moment'
import { config } from '../consts'
import BaseLayout from '../layouts/BaseLayout.astro'
import Giscus from '../components/astro/Giscus.astro'
import TableOfContents from '../components/astro/TableOfContents.astro'

interface Frontmatter {
	title?: string
	description?: string
	pubDate?: Date
}

interface Props extends Frontmatter {
	frontmatter?: Frontmatter
	enablePagefind?: boolean
}

const props = Astro.props

function getValue<T extends keyof Frontmatter = any>(key: T) {
	return (props.frontmatter?.[key] || props[key]) as Frontmatter[T]
}

const ogTitle = getValue('title')
const pubDate = getValue('pubDate')
const description = getValue('description')
const pageTitle = [ogTitle, config.title].filter(Boolean).join(' | ')
const enablePagefind = props.enablePagefind ?? true
---

<script>
	import 'giscus'
	import '../components/astro/directive/box/info'
	import '../components/astro/directive/box/warning'
	import '../components/astro/directive/box/error'

	import mediumZoom from 'medium-zoom'
	mediumZoom(document.querySelectorAll('article img'), {
		background: '#000',
	})
</script>

<BaseLayout
	showAuthorInfo
	showScrollProgress={config.scrollProgress}
	title={pageTitle}
	og={{
		title: ogTitle,
	}}
	{description}
>
	<div class="flex-1 flex flex-col glassmorphism rounded-lg">
		<header class="p-4 gap-3 flex items-center sm:hidden">
			<img
				src={config.author.avatar.url.toString()}
				alt={config.author.avatar.alt}
				class="size-[3rem] rounded-full select-none"
				transition:name="avatar"
			/>
			<div class="flex flex-col">
				<p class="break-all font-semibold">
					{ogTitle}
				</p>
				<p class="text-sm">
					{config.author.name}
					{pubDate ? '·' : ''}
					{pubDate ? moment(pubDate).format('YYYY-MM-DD') : ''}
				</p>
			</div>
		</header>
		<article
			id="article-content"
			{...enablePagefind ? { 'data-pagefind-body': true } : {}}
			class:list={[
				'prose max-sm:prose-sm dark:prose-invert text-inherit max-w-full',
				'py-4 px-4 md:px-8',
			]}
		>
			<slot />
		</article>
	</div>

	<div class="max-sm:glassmorphism rounded-lg mt-2 sm:mt-6 p-2 pt-6">
		{config.comment?.giscus && <Giscus {...config.comment.giscus} />}
	</div>

	<aside slot="aside" class="hidden lg:block w-48 md:w-64 shrink-0 h-full p-2">
		<div class="overflow-auto h-full no-scrollbar">
			<TableOfContents
				selector="#article-content"
				includeH1={true}
				title={pageTitle}
			/>
		</div>
	</aside>
</BaseLayout>

<style is:global>
	@reference "tailwindcss";

	.medium-zoom-overlay {
		@apply z-110;
	}

	.medium-zoom-image {
		@apply z-120;
	}
</style>
